<section class="contact-cta-box global-container">
    <div class="hire-cta-container">
        <span class="hire-cta-text">Want me to be on your team or work with you?</span>
        <div class="hire_cta_control">
            <a href="/" class="hire-cta">Hire me</a>
        </div>
    </div>
    <span class="divider"></span>
    <div class="contact-cta-container">
        <span class="contact-cta-text">Need to contact me?</span>
        <div class="hire_cta_control">
            <a href="#" class="contact-me">Contact me</a>
        </div>
    </div>
</section>