<footer class="global-container">
        <section class="footer-items">
                <p class="coder-info">Web app developed and designed by Tobi Ajibade</p>
                <p class="legal-copy">&copy; Tobi Ajibade <span id="currentYear"></span>.</p>
        </section>
</footer>