<footer>
        <div class="social_connect">
                <ul class="social_list_container">
                        <li class="social_list">
                                <a href="https://github.com/biggaji" target="_blank" class="social_links"><img
                                                src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609366642/assets/github_y9p0rt.png"
                                                alt=""></a>
                                <a href="https://twitter.com/biggaji0x" target="_blank" class="social_links"><img
                                                src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609366642/assets/twitter_txcspf.png"
                                                alt=""></a>
                                <a href="https://instagram.com/biggaji0x" target="_blank" class="social_links"><img
                                                src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609366642/assets/instagram_yw8r2z.png"
                                                alt=""></a>
                                <a href="https://dev.to/bigg_aji" target="_blank" class="social_links"><img
                                                src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609366641/assets/dev_to_bp0huf.png"
                                                alt=""></a>
                                <a href="https://medium.com/@bigg_aji" target="_blank" class="social_links"><img
                                                src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609366642/assets/medium_dxnfng.png"
                                                alt=""></a>
                                <a href="https://www.youtube.com/channel/UCaNTxRkQ01gMBnL1mgnM_KA" target="_blank"
                                        class="social_links"><img
                                                src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609366643/assets/youtube_mvjf8r.png"
                                                alt=""></a>
                                <a href="https://web.facebook.com/oluwatobilobaheritage.ajibade.9/" target="_blank"
                                        class="social_links"><img
                                                src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609366642/assets/facebook_zmydih.png"
                                                alt=""></a>
                        </li>
                </ul>
        </div>
        <div class="farewell">
                <p class="farewell_text">Made with 💗</p>
        </div>
</footer>