    <div class="notification-banner">
        <p class="notification-banner-text"><strong>Thanks for stopping by!</strong> Website version-2 is currently in development. See you soon again!</p>
    </div>
<header>
    <nav>
        <a href="/" class="logo_text fixed">Tobi Ajibade</a>
        {{!-- <div class="greeting_text_container">
            <h3 class="greeting_text"></h3>
        </div> --}}
    </nav>
</header>