<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page_name}}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Inter:wght@400;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css" type="text/css">

    {{!-- facebook open tags --}}
    <meta property="og:title" content="Tobi Ajibade">
    <meta property="og:site_name" content="Tobi Ajibade">
    <meta property="og:description" content="Tobi Ajibade is a Software Engineer based in Ibadan, Oyo State, Nigeria.">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="">
    <meta property="og:url" content="">

    {{!-- twitter cards --}}
    <meta name="twitter:site" content="@bigg_aji">
    <meta name="twitter:creator" content="@bigg_aji">
    <meta name="twitter:title" content="Tobi Ajibade">
    <meta name="twitter:description" content="Tobi Ajibade is a Software Engineer based in Ibadan, Oyo State, Nigeria.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:img" content="">
</head>

<body>
    {{> header}}
    {{{body}}}
    {{> footer}}
</body>

</html>