<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page_name}}</title>
    <meta name="robots">
    <meta name="keywords" content="Tobi Ajibade, Software engineer in nigeria, biggaji, backend engineer, Tobi, Ajibade">
    <meta name="description" content="I'm a software engineer that specialize in building scalable back-end services and infrastructure.">
    <link rel="stylesheet" href="/styles/main.css" type="text/css" crossorigin="anonymous" preload>

    {{!-- facebook open tags --}}
    <meta property="og:title" content="Tobi Ajibade">
    <meta property="og:site_name" content="Tobi Ajibade">
    <meta property="og:description" content="I'm a software engineer that specialize in building scalable back-end services and infrastructure.">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="https://res.cloudinary.com/dahn8uiyc/image/upload/v1615984379/avatar_nmxgti.jpg">
    <meta property="og:url" content="http://tobiajibade.herokuapp.com">

    {{!-- twitter cards --}}
    <meta name="twitter:site" content="@bigg_aji">
    <meta name="twitter:creator" content="@bigg_aji">
    <meta name="twitter:card" content="summary">

    {{!-- google site verification --}}
    <meta name="google-site-verification" content="StqIpyuDkELO9GHIHkMJwVxuOaSDX9dYKTohqRJObLA" />

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/images/site.webmanifest">
</head>

<body>
    <noscript>You need to enable javascript to view this app</noscript>
    {{> header}}
    {{{body}}}
    {{> footer}}
    <script src="/scripts/main.js" crossorigin="anonymous" async></script>
</body>

</html>