<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page_name}}</title>
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
    <meta name="description" content="obiloba Ajibade is a Software Engineer based in Ibadan, Oyo State, Nigeria.">
    <meta name="keywords" content="Tobi Ajibade, Tobiloba Ajibade, Software engineer, Homesilo, Macrosuta, Ajibade">

    {{!-- facebook open tags --}}
    <meta property="og:title" content="Tobiloba Ajibade">
    <meta property="og:site_name" content="Tobiloba Ajibade">
    <meta property="og:description" content="Tobiloba Ajibade is a Software Engineer based in Ibadan, Oyo State, Nigeria.">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="https://res.cloudinary.com/dahn8uiyc/image/upload/v1615984379/avatar_nmxgti.jpg">
    <meta property="og:url" content="http://tobiajibade.herokuapp.com">

    {{!-- twitter cards --}}
    <meta name="twitter:site" content="@biggaji0x">
    <meta name="twitter:creator" content="@biggaji0x">
    <meta name="twitter:title" content="Tobiloba Ajibade">
    <meta name="twitter:description" content="Tobiloba Ajibade is a Software Engineer based in Ibadan, Oyo State, Nigeria.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:img" content="https://res.cloudinary.com/dahn8uiyc/image/upload/v1615984379/avatar_nmxgti.jpg">

    {{!-- google site verification --}}
    <meta name="google-site-verification" content="StqIpyuDkELO9GHIHkMJwVxuOaSDX9dYKTohqRJObLA" />
</head>

<body>
    <noscript>You need to enable javascript to view this app</noscript>
    {{> header}}
    {{{body}}}
    <script src="/scripts/main.js"></script>
</body>

</html>