<section class="global-container">
    <div class="404_container">
        <div class="404_hero">
            <h1 class="404_hero_text">Oops the page you are looking for does not exist</h1>
        </div>
        <div class="redirect">
            <p class="ta_redirect">
                You can find what you are looking for <a href="/" class="ta_redirect_link">here</a>
            </p>
        </div>
    </div>
</section>