<div class="f04_container">
    <div class="f04_hero">
        <h1 class="f04_hero_text">Oops the page you are looking for does not exist</h1>
    </div>
    <div class="redirect">
        <p class="ta_redirect">
            A good idea would be going <a href="/" class="ta_redirect_link">here</a>
        </p>
    </div>
</div>