<div class="hero_container">
    <div class="hero_text_container">
        <h1 class="hero_text">Tobi Ajibade is a self-taught Software Engineer based in Ibadan, Nigeria.</h1>
    </div>
</div>

{{!-- main container --}}
<main class="container">
    <div class="intro_container">
        <p class="intro_text">I specilized in the core backend technologies.</p>
    </div>
    <div class="skill_set">
        <h3 class="skill_set_heading">My Skillsets</h3>
    </div>
    <div class="dev_skills_container">
        <div class="skills_container">
            <div class="skill_text_container">
                <p class="skill_text">Frontend</p>
            </div>
            <div class="skill_images_container">
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609366641/assets/html-5_q2qgp2.png"
                        alt="Html_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Html</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609366642/assets/css_zyaeum.png"
                        alt="css_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Css</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403726/assets/sass-1_ob2jgk.svg"
                        alt="sass_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Sass</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403725/assets/javascript_qvovha.svg"
                        alt="javascript_image">
                    <div class="skill_name">
                        <p class="skill_name_text">JavaScript</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="h-rule">
        <div class="skills_container">
            <div class="skill_text_container">
                <p class="skill_text">Backend</p>
            </div>
            <div class="skill_images_container">
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609402819/assets/nodejs-2_hcglzb.svg"
                        alt="nodejs_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Node js</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403725/assets/express-109_ofkjaw.svg"
                        alt="expressjs_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Express js</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609404392/assets/postgresql_fb6lax.svg"
                        alt="postgres_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Postgresql</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403725/assets/mongodb_i9qw5g.svg"
                        alt="mongodb_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Mongodb</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403725/assets/graphql_byys3m.svg"
                        alt="graphql_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Graphql</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="h-rule">
        <div class="skills_container">
            <div class="skill_text_container">
                <p class="skill_text">DevOps</p>
            </div>
            <div class="skill_images_container">
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403725/assets/github_actions_n1cggx.png"
                        alt="github_actions_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Github actions</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403725/assets/heroku_qfpznp.svg"
                        alt="heroku_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Heroku</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- currently container--}}
    <div class="currently_doing_container">
        <p class="cd_heading"></p>
    </div>
    {{!-- Contact container --}}

    {{!-- thanks for stoping by container --}}

</main>