<main class="global-container">
    <section class="hero content-container d-flex">
        <div class="hero-copy-box">
            <div class="hero-title-container">
                <h1 class="hero-title">Hi, I'm Tobi Ajibade.</h1>
            </div>
            <div class="hero-sub-titles d-flex">
                <p class="hero-sub-title-1">
                    I'm a self taught software engineer.
                </p>
                <p class="hero-sub-title-2">
                    I specialize in building scalable back-end services and infrastructure.
                </p>
            </div>
            <div class="hero-cta">
                <a href="/hire">Hire me</a>
            </div>
            <div class="more-connect global-margin">
                <span class="connect-text">
                    See more of me on
                </span>
                <div class="connect-link-container">
                    <div class="link-imgs d-flex">
                        <div class="links d-flex">
                            <a href="#" class="connect-link" target="_blank" rel="noopener">
                                <img src="/images/github-icon.svg" alt="Github" width="300" height="96" loading="lazy">
                            </a>
                        </div>
                        <div class="links d-flex">
                            <a href="#" class="connect-link" target="_blank" rel="noopener">
                                <img src="/images/twitter.svg" alt="Twitter" width="300" height="96" loading="lazy">
                            </a>
                        </div>
                        <div class="links d-flex">
                            <a href="#" class="connect-link" target="_blank" rel="noopener">
                                <img src="/images/Medium-Logo-Black-RGB_300x80.svg" alt="Medium" width="300" height="96" loading="lazy">
                            </a>
                        </div>
                        <div class="links d-flex">
                            <a href="#" class="connect-link" target="_blank" rel="noopener">
                                <img src="/images/linkedin.svg" alt="linkedin" width="300" height="96" loading="lazy">
                            </a>
                        </div>
                        <div class="links d-flex">
                            <a href="#" class="connect-link" target="_blank" rel="noopener">
                                <img src="/images/instagram.svg" alt="instagram" width="300" height="96" loading="lazy">
                            </a>
                        </div>
                        <div class="links d-flex">
                            <a href="#" class="connect-link" target="_blank" rel="noopener">
                                <picture>
                                    <source srcset="/images/f_logo_RGB-Blue_1024.webp" type="image/webp">
                                    <source srcset="/images/f_logo_RGB-Blue_1024.png" type="image/png">
                                    <img src="/images/f_logo_RGB-Blue_1024.png" alt="facebook" width="300" height="96" loading="lazy">
                                </picture>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="hero-image-container d-flex">
            <picture>
                <source srcset="/images/avatar.webp" type="image/webp">
                <source srcset="/images/avatar.jpeg" type="image/jpeg">
                <img src="/images/avatar.jpeg" alt="Tobi Ajibade Avatar" loading="lazy">
            </picture>
        </div>
    </section>

    {{!-- About section --}}
        <section class="about-container">
            <p class="subtitle">About me!</p>
            <p class="about-text">
                I am a self taught software engineer. I started learning how to code in december 2016. I build possibilities on computer with code.
            </p>
            <p class="about-text">
                I love contributing to open source projects, which in turn has helped to hone my skills and it has been an oppourtunity to meet amazing people in tech.
            </p>
            <p class="about-text">
                I currently lead the back-end team at <a href="https://devshelpdevs.org" class="inline-link" target="_blank" rel="noopener">Devshelpdevs</a>, an open source project
                that aims to create a developer run charity platform to provide developers in developing countries with tools needed to work.
            </p>
            <p class="about-text">
                I write a decent amount of code tutorial, tech tips and random thoughts <a href="https://medium.com/@bigg_aji" class="inline-link" target="_blank" rel="noopener">on Medium</a>.
            </p>
            <p class="about-text">
                I run a <a href="https://www.youtube.com/channel/UCaNTxRkQ01gMBnL1mgnM_KA" class="inline-link" target="_blank" rel="noopener">youtube channel - Bigg codes</a>, where i teach code and tech tips.
            </p>
            <p class="about-text">
                I want to build a finTech company in the future around the crypto industry. For now, am like a machine learning model studying other startups.
            </p>
            <p class="about-text">
                I love watching sci-fi and hacker movie series.
            </p>
        </section>

        <section class="techstack-container">
            <p class="subtitle">
                I'm pro-efficient in using these tools and technologies:
            </p>
            
            <div class="techstack-list-flex d-flex">
                <div class="techstack-lists">
                        <img src="/images/nodejs-icon.svg" alt="nodejs" loading="lazy">
                </div>
                <div class="techstack-lists">
                    <img src="/images/postgresql.svg" alt="postgresql" loading="lazy">
                </div>
                <div class="techstack-lists">
                    <img src="/images/graphql.svg" alt="graphql" loading="lazy">
                </div>
                <div class="techstack-lists">
                    <img src="/images/typescript.svg" alt="typescript" loading="lazy">
                </div>
                <div class="techstack-lists">
                    <img src="/images/logo-javascript.svg" alt="javascript" loading="lazy">
                </div>
                <div class="techstack-lists">
                    <picture>
                        <source srcset="/images/docker-mobo.webp" type="image/webp">
                        <source srcset="/images/docker-mobo.png" type="image/png">
                        <img src="/images/docker-mobo.png" alt="docker" loading="lazy">
                    </picture>
                </div>
                <div class="techstack-lists">
                    <img src="/images/express.svg" alt="expressjs" loading="lazy">
                </div>
                <div class="techstack-lists">
                    <img src="/images/npm.svg" alt="npm" loading="lazy">
                </div>
                <div class="techstack-lists">
                    <img src="/images/heroku.svg" alt="heroku" loading="lazy">
                </div>
                <div class="techstack-lists">
                    <picture>
                        <source srcset="/images/github_actions.webp" type="image/webp">
                        <source srcset="/images/github_actions.png" type="image/png">
                        <img src="/images/github_actions.png" alt="github actions" width="96" height="96" loading="lazy">
                    </picture>
                </div>
                <div class="techstack-lists">
                    <img src="/images/git-icon.svg" alt="git" loading="lazy">
                </div>
            </div>

        </section>
        
        <section class="projects-portfolio">
            <p class="subtitle">These are the projects i have worked on or still working on:</p>

            <div class="completed-projects  project-overview">
                <span class="project-status completed">
                    Completed projects - 
                </span>
                <section class="project-lists d-flex">
                    <div class="project-card">
                        <p class="project-title">My website portfolio</p>
                            <picture>
                                <source srcset="/images/tobiajibade_portfolio_hero.webp" type="image/webp">
                                <source srcset="/images/tobiajibade_portfolio_hero.png" type="image/png">
                                <img src="/images/tobiajibade_portfolio_hero.png" alt="My website portfolio" width="300" height="180" loading="lazy" class="project-screenshot">
                            </picture>
                        <div class="project-links">
                            <a href="#" class="live-version">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                                    height="16">
                                    <path fill-rule="evenodd"
                                        d="M10.604 1h4.146a.25.25 0 01.25.25v4.146a.25.25 0 01-.427.177L13.03 4.03 9.28 7.78a.75.75 0 01-1.06-1.06l3.75-3.75-1.543-1.543A.25.25 0 0110.604 1zM3.75 2A1.75 1.75 0 002 3.75v8.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 12.25v-3.5a.75.75 0 00-1.5 0v3.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-8.5a.25.25 0 01.25-.25h3.5a.75.75 0 000-1.5h-3.5z">
                                    </path>
                                </svg>
                            </a>
                            <a href="#" class="code-version">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                                    height="16">
                                    <path fill-rule="evenodd"
                                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="project-card">
                        <p class="project-title">DevsHelpDevs Team</p>
                            <picture>
                                <source srcset="/images/Screenshot_Tobi_Ajibade_Devshelpdevs_Team.webp" type="image/webp">
                                <source srcset="/images/Screenshot_Tobi_Ajibade_Devshelpdevs_Team.png" type="image/png">
                                <img src="/images/Screenshot_Tobi_Ajibade_Devshelpdevs_Team.png" alt="Helpdevs Team" width="300" height="180" loading="lazy" class="project-screenshot">
                            </picture>
                        <div class="project-links">
                            <a href="#" class="live-version">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                                    height="16">
                                    <path fill-rule="evenodd"
                                        d="M10.604 1h4.146a.25.25 0 01.25.25v4.146a.25.25 0 01-.427.177L13.03 4.03 9.28 7.78a.75.75 0 01-1.06-1.06l3.75-3.75-1.543-1.543A.25.25 0 0110.604 1zM3.75 2A1.75 1.75 0 002 3.75v8.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 12.25v-3.5a.75.75 0 00-1.5 0v3.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-8.5a.25.25 0 01.25-.25h3.5a.75.75 0 000-1.5h-3.5z">
                                    </path>
                                </svg>
                            </a>
                            <a href="#" class="code-version">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                                    height="16">
                                    <path fill-rule="evenodd"
                                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="project-card">
                        <p class="project-title">Precious Kolawole portfolio</p>
                            <picture>
                                <source srcset="/images/Screenshot_Precious_Kolawole.webp" type="image/webp">
                                <source srcset="/images/Screenshot_Precious_Kolawole.png" type="image/png">
                                <img src="/images/Screenshot_Precious_Kolawole.png" alt="Precillio" width="300" height="180" loading="lazy" class="project-screenshot">
                            </picture>
                        <div class="project-links">
                            <a href="#" class="live-version">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                                    height="16">
                                    <path fill-rule="evenodd"
                                        d="M10.604 1h4.146a.25.25 0 01.25.25v4.146a.25.25 0 01-.427.177L13.03 4.03 9.28 7.78a.75.75 0 01-1.06-1.06l3.75-3.75-1.543-1.543A.25.25 0 0110.604 1zM3.75 2A1.75 1.75 0 002 3.75v8.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 12.25v-3.5a.75.75 0 00-1.5 0v3.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-8.5a.25.25 0 01.25-.25h3.5a.75.75 0 000-1.5h-3.5z">
                                    </path>
                                </svg>
                            </a>
                            <a href="#" class="code-version">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                                    height="16">
                                    <path fill-rule="evenodd"
                                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="project-card">
                        <p class="project-title">DevsHelpDevs coming soon website</p>
                            <picture>
                                <source srcset="/images/Screenshot_DevsHelpDevs.webp" type="image/webp">
                                <source srcset="/images/Screenshot_DevsHelpDevs.png" type="image/png">
                                <img src="/images/Screenshot_DevsHelpDevs.png" alt="Devshelpdevs" width="300" height="180" loading="lazy" class="project-screenshot">
                            </picture>
                        <div class="project-links">
                            <a href="#" class="live-version">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                                    height="16">
                                    <path fill-rule="evenodd"
                                        d="M10.604 1h4.146a.25.25 0 01.25.25v4.146a.25.25 0 01-.427.177L13.03 4.03 9.28 7.78a.75.75 0 01-1.06-1.06l3.75-3.75-1.543-1.543A.25.25 0 0110.604 1zM3.75 2A1.75 1.75 0 002 3.75v8.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 12.25v-3.5a.75.75 0 00-1.5 0v3.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-8.5a.25.25 0 01.25-.25h3.5a.75.75 0 000-1.5h-3.5z">
                                    </path>
                                </svg>
                            </a>
                            <a href="#" class="code-version">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                                    height="16">
                                    <path fill-rule="evenodd"
                                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="ongoing-projects project-overview">
                <span class="project-status ongoing">
                    Projects in development - 
                </span>
                <section class="project-lists d-flex">
                    <div class="project-card">
                        <p class="project-title">Paysnap</p>
                            <picture>
                                <source srcset="/images/Screenshot_Paysnap.webp" type="image/webp">
                                <source srcset="/images/Screenshot_Paysnap.png" type="image/png">
                                <img src="/images/Screenshot_Paysnap.png" alt="Paysnap" width="300" height="96" loading="lazy" class="project-screenshot">
                            </picture>
                        <div class="project-links">
                            <a href="#" class="live-version">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                                    height="16">
                                    <path fill-rule="evenodd"
                                        d="M10.604 1h4.146a.25.25 0 01.25.25v4.146a.25.25 0 01-.427.177L13.03 4.03 9.28 7.78a.75.75 0 01-1.06-1.06l3.75-3.75-1.543-1.543A.25.25 0 0110.604 1zM3.75 2A1.75 1.75 0 002 3.75v8.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 12.25v-3.5a.75.75 0 00-1.5 0v3.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-8.5a.25.25 0 01.25-.25h3.5a.75.75 0 000-1.5h-3.5z">
                                    </path>
                                </svg>
                            </a>
                            <a href="#" class="code-version">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                                    height="16">
                                    <path fill-rule="evenodd"
                                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="project-card">
                        <p class="project-title">Cassavavilla web</p>
                            <picture>
                                <source srcset="/images/cassavavilla-logo.webp" type="image/webp">
                                <source srcset="/images/cassavavilla-logo.png" type="image/png">
                                <img src="/images/cassavavilla-logo.png" alt="Cassavavilla web" width="300" height="96" loading="lazy" class="project-screenshot">
                            </picture>
                        <span class="note-na">Code not publicly available</span>
                        <div class="project-links">
                            <a href="#" class="code-version">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                                    height="16">
                                    <path fill-rule="evenodd"
                                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="project-card">
                        <p class="project-title">Cassavavilla Admin</p>
                            <picture>
                                <source srcset="/images/cassavavilla-admin-logo.webp" type="image/webp">
                                <source srcset="/images/cassavavilla-admin-logo.png" type="image/png">
                                <img src="/images/cassavavilla-admin-logo.png" alt="cassavavilla admin" width="300" height="96" loading="lazy" class="project-screenshot">
                            </picture>
                        <span class="note-na">Code not publicly available</span>
                        <div class="project-links">
                            <a href="#" class="code-version">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                                    height="16">
                                    <path fill-rule="evenodd"
                                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <section class="testimonials">
            <p class="subtitle">
                Read what people i have worked with or work for says about me:
            </p>
            <div class="testimonial-card-container">
                <div class="testimonial-card">
                    <p class="testimonial-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, itaque ipsam qui, facilis facere assumenda dignissimos aspernatur rerum impedit laudantium illo veritatis maxime debitis laborum. Vel ut dicta assumenda aspernatur?
                    </p>
                    <div class="testimonial-user d-flex">
                        <picture>
                            <source srcset="/images/avatar.webp" type="image/webp">
                            <source srcset="/images/avatar.jpeg" type="image/jpeg">
                            <img src="/images/avatar.jpeg" alt="Thomas Burkhart" width="300" height="96" loading="lazy">
                        </picture>
                        <div class="user-details d-flex">
                            <span class="fullname">Thomas Burkhart</span>
                            <span class="job-description">Freelance developer</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-card">
                    <p class="testimonial-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, itaque
                        ipsam qui, facilis facere assumenda dignissimos aspernatur rerum impedit
                        laudantium illo veritatis maxime debitis laborum. Vel ut dicta assumenda
                        aspernatur?
                    </p>
                    <div class="testimonial-user d-flex">
                        <picture>
                            <source srcset="/images/avatar.webp" type="image/webp">
                            <source srcset="/images/avatar.jpeg" type="image/jpeg">
                            <img src="/images/avatar.jpeg" alt="Precious Kolawole" width="300" height="96" loading="lazy">
                        </picture>
                        <div class="user-details d-flex">
                            <span class="fullname">Precoius Kolawole</span>
                            <span class="job-description">Machine Learning Engineer</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-card">
                    <p class="testimonial-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, itaque
                        ipsam qui, facilis facere assumenda dignissimos aspernatur rerum impedit
                        laudantium illo veritatis maxime debitis laborum. Vel ut dicta assumenda
                        aspernatur?
                    </p>
                    <div class="testimonial-user d-flex">
                        <picture>
                            <source srcset="/images/avatar.webp" type="image/webp">
                            <source srcset="/images/avatar.jpeg" type="image/jpeg">
                            <img src="/images/avatar.jpeg" alt="Sophia Abubakar" width="300" height="96" loading="lazy">
                        </picture>
                        <div class="user-details d-flex">
                            <span class="fullname">Sophia Abubakar</span>
                            <span class="job-description">Software Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="h-line">

</main>
            {{>contact_cta_component}}
    {{!-- overlay container for contact form --}}
    <section class="contact-form-overlay-container">
        <div class="form-error-UI">
            <span class="error-text"></span>
        </div>
        <div class="close-btn-wrapper">
            <svg id="closeBtn" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16" width="16" height="16">
                <path fill-rule="evenodd"
                    d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z">
                </path>
            </svg>
        </div>
        <div class="contact-form-container">
            <span class="form-requirement-text">Please fill out the following fields</span>
            <form action="/b/contact" method="post" class="contact-form">
                <span class="isrequired">Fields marked with (<span class="required-red">*</span>) are required</span>
                <div class="input-clip">
                    <label for="fullname">Fullname <span class="required-red">*</span></label><br>
                    <input type="text" id="fullname" name="fullname" class="required-field contact-fullname">
                </div>
                <div class="input-clip">
                    <label for="email">Email address <span
                            class="required-red">*</span></label><br>
                    <input type="email" id="email" name="email" class="required-field contact-email">
                </div>
                <div class="input-clip">
                    <label for="msg">Message <span
                            class="required-red">*</span></label><br>
                    <textarea id="msg" name="message" class="required-field contact-message" rows="4"></textarea>
                </div>
                <div class="btn-clip">
                    <button type="submit" class="contact-submit">Send message</button>
                    <img src="/images/spinning-circles.svg" alt="spinnig-circle" loading=lazy width="25px" height="25px" class="spinning-circle">
                </div>
            </form>

            {{!-- success message display --}}
            <div class="success-msg-container">
                <span class="success-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" fill="green"
                        height="24">
                        <path fill-rule="evenodd"
                            d="M21.03 5.72a.75.75 0 010 1.06l-11.5 11.5a.75.75 0 01-1.072-.012l-5.5-5.75a.75.75 0 111.084-1.036l4.97 5.195L19.97 5.72a.75.75 0 011.06 0z">
                        </path>
                    </svg>
                </span>
                <p class="success-text">Your message has been sent successfully.</p>
                <p class="success-text">I will contact you ASAP. Thanks Tobi!</p>
            </div>
        </div>
    </section>