<div class="hero_container">
    <div class="hero_text_container">
        <h1 class="hero_text"><span class="hero_text_line">I'm Tobiloba Ajibade.<br></span>
            <span class="hero_text_line"></span>Software Engineer based in
            Ibadan, Nigeria.</span>
        </h1>
    </div>
</div>

{{!-- main container --}}
<main class="container">
    <div class="intro_container">
        <p class="intro_text">I specialize in building scalable back-end services and infrastructure.<br> I'm a graduate of the first cohort of <a
                href="https://www.ycombinator.com/" style="text-decoration: undeline; color: #0070c9">YCombiantor </a> future
            founders
            startup school.
        </p>
    </div>
    <div class="skill_set">
        <h3 class="skill_set_heading">My Skillsets</h3>
    </div>
    <div class="dev_skills_container">
        {{!-- <div class="skills_container">
            <div class="skill_text_container">
                <p class="skill_text">Frontend</p>
            </div>
            <div class="skill_images_container">
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609366641/assets/html-5_q2qgp2.png"
                        alt="Html_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Html</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609366642/assets/css_zyaeum.png"
                        alt="css_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Css</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403726/assets/sass-1_ob2jgk.svg"
                        alt="sass_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Sass</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403725/assets/javascript_qvovha.svg"
                        alt="javascript_image">
                    <div class="skill_name">
                        <p class="skill_name_text">JavaScript</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="h-rule hidden"> --}}
        <div class="skills_container">
            <div class="skill_text_container">
                <p class="skill_text">Backend</p>
            </div>
            <div class="skill_images_container">
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609402819/assets/nodejs-2_hcglzb.svg"
                        alt="nodejs_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Node js</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403725/assets/express-109_ofkjaw.svg"
                        alt="expressjs_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Express js</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403725/assets/javascript_qvovha.svg"
                        alt="javascript_image">
                    <div class="skill_name">
                        <p class="skill_name_text">JavaScript</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1662552837/assets/icons8-typescript-48_ojtmth.png"
                        alt="typescript_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Typecript</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609404392/assets/postgresql_fb6lax.svg"
                        alt="postgres_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Postgresql</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1662553556/mongodb-3521676-2945120_txwsy4.png"
                        alt="mongodb_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Mongodb</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403725/assets/graphql_byys3m.svg"
                        alt="graphql_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Graphql</p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="h-rule hidden">
        <div class="skills_container">
            <div class="skill_text_container">
                <p class="skill_text">DevOps</p>
            </div>
            <div class="skill_images_container">
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403725/assets/github_actions_n1cggx.png"
                        alt="github_actions_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Github actions</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403725/assets/heroku_qfpznp.svg"
                        alt="heroku_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Heroku</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- currently container--}}
    <div class="currently_doing_container">
        <div class="cd_heading_container">
            <p class="cd_text">What am currently doing</p>
        </div>
        <ul class="cd_list_container">
            <li class="cd_list"> Building a javascript library which would be an open source project.</li>
            <li class="cd_list">
                <div class="youtube_container">
                    <div class=" yt_data">Running a youtube channel <span class="youtube-channel"><a
                                href="https://www.youtube.com/channel/UCaNTxRkQ01gMBnL1mgnM_KA" target="_blank">Bigg
                                Codes</a>, where i teach about coding and tech tips.</span>
                    </div>
                    {{!-- <div class="yt_channel_details_dropdown">
                        <div class="channel_details">
                            <div class="channel_avatar_container">
                                <img src="https://yt3.ggpht.com/yti/ANoDKi7akgi2NQNr8vLtKruEIpIrrxE-TTssUGZm-8dO=s88-c-k-c0x00ffffff-no-rj-mo"
                                    alt="Bigg Codes youtube channel avatar">
                            </div>
                            <div class="channel_details_container">
                                <p class="channel_name">Bigg Codes</p>
                                <p class="channel_sub_count"></p>
                            </div>
                        </div> --}}
                        {{!-- <div class="subscribe_container">
                            <a href="https://www.youtube.com/channel/UCaNTxRkQ01gMBnL1mgnM_KA?sub_confirmation=1"
                                class="yt_sub_link"><button type="button">Subscribe</button></a>
                        </div> --}}
                    {{!-- </div> --}}
                </div>
            </li>
        </ul>
    </div>
    {{!-- Contact container --}}
    <div class="contact_box">
        <div class="contact_heading">
            <p class="contact_text">How to contact me</p>
        </div>
        <div class="contact_how">
            <div class="contact_ways">
                <span class="contact_icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                        height="16">
                        <path fill-rule="evenodd"
                            d="M1.75 2A1.75 1.75 0 000 3.75v.736a.75.75 0 000 .027v7.737C0 13.216.784 14 1.75 14h12.5A1.75 1.75 0 0016 12.25v-8.5A1.75 1.75 0 0014.25 2H1.75zM14.5 4.07v-.32a.25.25 0 00-.25-.25H1.75a.25.25 0 00-.25.25v.32L8 7.88l6.5-3.81zm-13 1.74v6.441c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V5.809L8.38 9.397a.75.75 0 01-.76 0L1.5 5.809z">
                        </path>
                    </svg></span><span class="contact_icon_desc">Send me a <a href="mailto:herityjohnny14@gmail.com"
                        class="mail">mail</a>.</span>
            </div>
            <div class="contact_ways">
                <span class="contact_icon"><img
                        src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609366642/assets/twitter_txcspf.png"
                        alt="twitter_icon"></span><span class="contact_icon_desc">Send me a direct message on twitter <a
                        href="https://twitter.com/biggaji0x" class="twitter_username">@biggaji0x</a></span>
            </div>
        </div>
    </div>

    {{!-- thanks for stoping by container --}}
    {{!-- <div class="thanks_box">
        <p class="thanks_box_text">Thanks for stoping by 💗!</p>
    </div> --}}


</main>

{{> footer}}