<div class="hero_container">
    <div class="hero_text_container">
        <h1 class="hero_text">Hi, I am Tobi Ajibade, am a self-taught Software Engineer based in Ibadan, Nigeria.</h1>
    </div>
</div>

{{!-- main container --}}
<main class="container">
    <div class="intro_container">
        <p class="intro_text">I specialize in building web applications using html, css, javscript and nodejs ( i.e
            backend) and other intersting technologies.
        </p>
    </div>
    <div class="skill_set">
        <h3 class="skill_set_heading">My Skillsets</h3>
    </div>
    <div class="dev_skills_container">
        <div class="skills_container">
            <div class="skill_text_container">
                <p class="skill_text">Frontend</p>
            </div>
            <div class="skill_images_container">
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609366641/assets/html-5_q2qgp2.png"
                        alt="Html_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Html</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609366642/assets/css_zyaeum.png"
                        alt="css_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Css</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403726/assets/sass-1_ob2jgk.svg"
                        alt="sass_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Sass</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403725/assets/javascript_qvovha.svg"
                        alt="javascript_image">
                    <div class="skill_name">
                        <p class="skill_name_text">JavaScript</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="h-rule">
        <div class="skills_container">
            <div class="skill_text_container">
                <p class="skill_text">Backend</p>
            </div>
            <div class="skill_images_container">
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609402819/assets/nodejs-2_hcglzb.svg"
                        alt="nodejs_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Node js</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403725/assets/express-109_ofkjaw.svg"
                        alt="expressjs_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Express js</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609404392/assets/postgresql_fb6lax.svg"
                        alt="postgres_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Postgresql</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403725/assets/mongodb_i9qw5g.svg"
                        alt="mongodb_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Mongodb</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403725/assets/graphql_byys3m.svg"
                        alt="graphql_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Graphql</p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="h-rule">
        <div class="skills_container">
            <div class="skill_text_container">
                <p class="skill_text">DevOps</p>
            </div>
            <div class="skill_images_container">
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403725/assets/github_actions_n1cggx.png"
                        alt="github_actions_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Github actions</p>
                    </div>
                </div>
                <div class="skill_image">
                    <img src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609403725/assets/heroku_qfpznp.svg"
                        alt="heroku_image">
                    <div class="skill_name">
                        <p class="skill_name_text">Heroku</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- currently container--}}
    <div class="currently_doing_container">
        <div class="cd_heading_container">
            <p class="cd_text">What am currently doing</p>
        </div>
        <ul class="cd_list_container">
            <li class="cd_list">Freelancing on fiverr - <span class="fiverr_username"><a
                        href="https://www.fiverr.com/lordcode" target="_blank">@lordcode</a></span>
            </li>
            <li class="cd_list"> Brainstorming on my open source project.</li>
            <li class="cd_list">Running a youtube channel <span class="youtube-channel"><a
                        href="https://www.youtube.com/channel/UCaNTxRkQ01gMBnL1mgnM_KA" target="_blank">Code
                        Stack</a></span>
            </li>
        </ul>
    </div>
    {{!-- Contact container --}}
    <div class="contact_box">
        <div class="contact_heading">
            <p class="contact_text">How to contact me</p>
        </div>
        <div class="contact_how">
            <div class="contact_ways">
                <span class="contact_icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                        height="16">
                        <path fill-rule="evenodd"
                            d="M1.75 2A1.75 1.75 0 000 3.75v.736a.75.75 0 000 .027v7.737C0 13.216.784 14 1.75 14h12.5A1.75 1.75 0 0016 12.25v-8.5A1.75 1.75 0 0014.25 2H1.75zM14.5 4.07v-.32a.25.25 0 00-.25-.25H1.75a.25.25 0 00-.25.25v.32L8 7.88l6.5-3.81zm-13 1.74v6.441c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V5.809L8.38 9.397a.75.75 0 01-.76 0L1.5 5.809z">
                        </path>
                    </svg></span><span class="contact_icon_desc">Send me a <a href="mailto:herityjohnny14@gmail.com"
                        class="mail">mail</a></span>
            </div>
            <div class="contact_ways">
                <span class="contact_icon"><img
                        src="https://res.cloudinary.com/dahn8uiyc/image/upload/v1609366642/assets/twitter_txcspf.png"
                        alt="twitter_icon"></span><span class="contact_icon_desc">Send me a dm on twitter <a
                        href="https://twitter.com/bigg_aji" class="twitter_username">@bigg_aji</a></span>
            </div>
        </div>
    </div>

    {{!-- thanks for stoping by container --}}
    <div class="thanks_box">
        <p class="thanks_box_text">Thanks for stoping by, I love you 3 plenty 💗💗💗!</p>
    </div>


</main>