<main class="global-container">
    <section class="hero content-container">
        <div class="hero-copy-box">
            <div class="hero-title-container">
                <h1 class="hero-title quincy-font">Hi, I'm Tobi Ajibade</h1>
            </div>
            <div class="hero-sub-titles">
                <p class="hero-sub-title-1">
                    I'm a self taught software engineer.
                </p>
                <p class="hero-sub-title-1">
                    I specialize in building scalable back-end services and infrastructure.
                </p>
            </div>
            <div class="hero-cta">
                <a href="/hire">Hire me</a>
            </div>
            <div class="more-connect">
                <span class="connect-text">
                    See more of me
                </span>
                <div class="connect-link-container d-flex">
                    <div class="links">
                        <a href="#" class="connect-link" target="_blank" rel="noopener">
                            <img src="/images/github-icon.svg" alt="Github">
                        </a>
                    </div>
                    <div class="links">
                        <a href="#" class="connect-link" target="_blank" rel="noopener">
                            <img src="/images/twitter.svg" alt="Twitter">
                        </a>
                    </div>
                    <div class="links">
                        <a href="#" class="connect-link" target="_blank" rel="noopener">
                            <img src="/images/Medium-Logo-Black-RGB_300x80.svg" alt="Medium">
                        </a>
                    </div>
                    <div class="links">
                        <a href="#" class="connect-link" target="_blank" rel="noopener">
                            <img src="/images/linkedin.svg" alt="linkedin">
                        </a>
                    </div>
                    <div class="links">
                        <a href="#" class="connect-link" target="_blank" rel="noopener">
                            <img src="/images/instagram.svg" alt="instagram">
                        </a>
                    </div>
                    <div class="links">
                        <a href="#" class="connect-link" target="_blank" rel="noopener">
                            <img src="/images/f_logo_RGB-Blue_1024.png" alt="facebook">
                        </a>
                    </div>
                    <div class="links">
                        <a href="#" class="connect-link" target="_blank" rel="noopener">
                            <img src="/images/helpdevs.svg" alt="devshelpdevs">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-image-container">
            {{!-- <img src="" alt=""> --}}
        </div>
    </section>

    {{!-- About section --}}
        <section class="about-container">
            <h3 class="subtitle">About me!</h3>
            <p class="about-text">
                I am a self taught software engineer. I started learning how to code in december 2016. I build possibilities on computer with code.
            </p>
            <p class="about-text">
                I love contributing to open source projects, which in turn has helped to hone my skills and it has been an oppourtunity to meet amazing people in tech.
            </p>
            <p class="about-text">
                I currently lead the back-end team at <a href="https://devshelpdevs.org" class="inline-link" target="_blank" rel="noopener">devshelpdevs</a>, an open source project
                that aims to create a developer run charity platform to provide developers in developing countries with tools needed to work.
            </p>
            <p class="about-text">
                I run a <a href="https://www.youtube.com/channel/UCaNTxRkQ01gMBnL1mgnM_KA" class="inline-link" target="_blank" rel="noopenner">youtube channel</a>, where i teach code and tech tips.
            </p>
            <p class="about-text">
                I want to build a finTech company in the future around the crypto industry. For now, am like a machine learning model studying other startups.
            </p>
            <p class="about-text">
                I love watching sci-fi and hacker movie series.
            </p>
        </section>

        <section class="techstack-container">
            <p class="subtitle">
                I'm pro-efficient in these following technologies and tools:
            </p>
            
            <div class="teckstack-list-flex d-flex">
                <div class="techstack-lists">
                        <img src="/images/nodejs-icon.svg" alt="nodejs">
                </div>
                <div class="techstack-lists">
                    <img src="/images/postgresql.svg" alt="postgresql">
                </div>
                <div class="techstack-lists">
                    <img src="/images/graphql.svg" alt="graphql">
                </div>
                <div class="techstack-lists">
                    <img src="/images/typescript.svg" alt="typescript">
                </div>
                <div class="techstack-lists">
                    <img src="/images/logo-javascript.svg" alt="javascript">
                </div>
                <div class="techstack-lists">
                    <img src="/images/docker-mobo.png" alt="docker">
                </div>
                <div class="techstack-lists">
                    <img src="/images/express.svg" alt="expressjs">
                </div>
                <div class="techstack-lists">
                    <img src="/images/npm.svg" alt="npm">
                </div>
                <div class="techstack-lists">
                    <img src="/images/heroku.svg" alt="heroku">
                </div>
                <div class="techstack-lists">
                    <img src="/images/github_actions.png" alt="github actions">
                </div>
                <div class="techstack-lists">
                    <img src="/images/git-icon.svg" alt="git">
                </div>
            </div>

        </section>
        
        <section class="projects-portfolio">
            <h3 class="subtitle">These are the projects i have worked on or still working on:</h3       >

            <div class="completed-projects  project-overview">
                <span class="project-status">
                    Completed projects - 
                </span>
                <section class="project-lists">
                    <div class="project-card">
                        <img src="/images/Screenshot_Paysnap.png" alt="Tobiajibade.com" class="project-screenshot">
                        <p class="project-title">My website portfolio</p>
                        <div class="project-links">
                            <a href="#" class="live-version">Live</a>
                            <a href="#" class="code-version">Github</a>
                        </div>
                    </div>
                    <div class="project-card">
                        <img src="/images/Screenshot_Tobi_Ajibade_Devshelpdevs_Team.png" alt="Helpdevs Team" class="project-screenshot">
                        <p class="project-title">DevsHelpDevs Team</p>
                        <div class="project-links">
                            <a href="#" class="live-version">Live</a>
                            <a href="#" class="code-version">Github</a>
                        </div>
                    </div>
                    <div class="project-card">
                        <img src="/images/Screenshot_Precious_Kolawole.png" alt="Precillio" class="project-screenshot">
                        <p class="project-title">Precious Kolawole portfolio</p>
                        <div class="project-links">
                            <a href="#" class="live-version">Live</a>
                            <a href="#" class="code-version">Github</a>
                        </div>
                    </div>
                    <div class="project-card">
                        <img src="/images/Screenshot_DevsHelpDevs.png" alt="Devshelpdevs" class="project-screenshot">
                        <p class="project-title">DevsHelpDevs coming soon website</p>
                        <div class="project-links">
                            <a href="#" class="live-version">Live</a>
                            <a href="#" class="code-version">Github</a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="ongoing-projects project-overview">
                <span class="project-status">
                    Projects in development - 
                </span>
                <section class="project-lists">
                    <div class="project-card">
                        <img src="/images/Screenshot_Paysnap.png" alt="Paysnap" class="project-screenshot">
                        <p class="project-title">Paysnap</p>
                        <div class="project-links">
                            <a href="#" class="live-version">Live</a>
                            <a href="#" class="code-version">Github</a>
                        </div>
                    </div>
                    <div class="project-card">
                        <img src="/images/Screenshot_Tobi_Ajibade_Devshelpdevs_Team.png" alt="Cassavavilla web" class="project-screenshot">
                        <p class="project-title">Cassavavilla web</p>
                        <span class="note-na">Code not publicly available</span>
                    </div>
                    <div class="project-card">
                        <img src="/images/Screenshot_DevsHelpDevs.png" alt="cassavavilla admin" class="project-screenshot">
                        <p class="project-title">Cassavavilla Admin</p>
                        <span class="note-na">Code not publicly available</span>
                    </div>
                </section>
            </div>
        </section>
        <section class="testimonials">
            <h3 class="subtitle">
                Read what people i have worked with or work for are said about me:
            </h3>
            <div class="testimonial-card-container">
                <div class="testimonial-card">
                    <p class="testimonial-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, itaque ipsam qui, facilis facere assumenda dignissimos aspernatur rerum impedit laudantium illo veritatis maxime debitis laborum. Vel ut dicta assumenda aspernatur?
                    </p>
                    <div class="testimonial-user">
                        <img src="" alt="Thomas Burkhart">
                        <div class="user-details">
                            <span class="fullname">Thomas Burkhart</span>
                            <span class="job-description">Freelance developer, GDE for Flutter & Dart</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-card">
                    <p class="testimonial-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, itaque
                        ipsam qui, facilis facere assumenda dignissimos aspernatur rerum impedit
                        laudantium illo veritatis maxime debitis laborum. Vel ut dicta assumenda
                        aspernatur?
                    </p>
                    <div class="testimonial-user">
                        <img src="" alt="Precious Kolawole">
                        <div class="user-details">
                            <span class="fullname">Precoius Kolawole</span>
                            <span class="job-description">Machine Learning Engineer</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-card">
                    <p class="testimonial-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, itaque
                        ipsam qui, facilis facere assumenda dignissimos aspernatur rerum impedit
                        laudantium illo veritatis maxime debitis laborum. Vel ut dicta assumenda
                        aspernatur?
                    </p>
                    <div class="testimonial-user">
                        <img src="" alt="Sophia Abubakar">
                        <div class="user-details">
                            <span class="fullname">Sophia Abubakar</span>
                            <span class="job-description">Software Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

</main>
            {{>contact_cta_component}}
    {{!-- overlay contianer for contact form --}}
    <section class="contact-form-overlay-container">
        <div class="contact-form-container">
            <span class="form-requirement-text">Please fill out the following fields</span>
            <form action="/b/contact" method="post">
                <div class="input-clip">
                    <label for="fullname">Fullname <span class="required-red">*</span></label><br>
                    <input type="text" id="fullname" name="fullname" class="required-field">
                </div>
                <div class="input-clip">
                    <label for="email">Email address <span
                            class="required-red">*</span></label><br>
                    <input type="email" id="email" name="email" class="required-field">
                </div>
                <div class="input-clip">
                    <label for="msg">Message <span
                            class="required-red">*</span></label><br>
                    <textarea id="msg" name="message" class="required-field" rows="7"></textarea>
                </div>
                <div class="btn-clip">
                    <button type="submit">Send message</button>
                </div>
            </form>
        </div>
    </section>