*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Atyp text";
  src: url("./../fonts/AtypText-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Circular-black;
  font-weight: 300;
  src: url("./../fonts/Circular-black.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Recoleta-bold;
  src: url("./../fonts/Recoleta-Bold.woff2") format("woff2");
  font-display: swap;
}

body {
  display: block;
  background-color: #FFFEFC;
  color: #6b6969;
  font-size: 1.0625rem;
  line-height: 1.5;
  font-family: "Atyp text";
  letter-spacing: 0.01rem;
  font-weight: 500;
}

.inline-link {
  text-decoration: underline;
  color: #6b6969;
}

.inline-link:hover, .inline-link:focus {
  color: #111;
  text-decoration: none;
  border-bottom: 1px dotted black;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.content-container {
  width: 100%;
  display: block;
  height: auto;
}

.global-container {
  width: 100%;
  padding: 0 5%;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-grid {
  display: -ms-grid !important;
  display: grid !important;
}

.h-line {
  border: none;
  outline: none;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 auto;
  height: 1px;
  max-width: 1260px;
}

.section-margin {
  margin: 5rem 0 !important;
}

.global-margin {
  margin: 60px 0;
}

.subtitle {
  font-size: 22px;
  font-weight: 600;
  color: #111;
  margin: 0.7rem 0.6rem;
}

.form-error-UI {
  display: none;
  width: 100%;
  border: 1px solid tomato;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 1rem 0;
}

.form-error-UI .error-text {
  font-size: 15px;
}

.spinning-circle {
  display: none;
  text-align: center;
  width: 23px;
  height: 23px;
}

.required-red {
  color: red;
  vertical-align: middle;
}

.ongoing {
  border-bottom: 3px solid tomato;
}

.completed {
  border-bottom: 3px solid limegreen;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button {
  cursor: pointer;
}

header {
  padding: 0.5rem 0.2rem;
  margin: 0.2rem 0 0.8rem 0;
}

header a {
  display: inline-block;
}

.site_logo {
  width: 130px;
  height: 30px;
}

.hero {
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .hero-copy-box {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 1rem;
}

.hero .hero-copy-box .hero-title-container .hero-title {
  font-size: 38px;
  text-align: center;
  color: #111;
  font-family: Recoleta-bold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hero .hero-copy-box .hero-sub-titles {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem;
  margin: 0.3rem 0;
}

.hero .hero-copy-box .hero-sub-titles .hero-sub-title-1 {
  text-align: center;
  font-size: 20px;
}

.hero .hero-copy-box .hero-sub-titles .hero-sub-title-2 {
  text-align: center;
  font-size: 19px;
}

.hero .hero-copy-box .hero-cta {
  width: 180px;
  margin: 20px auto 0;
}

.hero .hero-copy-box .hero-cta a {
  display: block;
  text-align: center;
  width: 100%;
  padding: 0.5rem 12px;
  border: 1px solid #308bbf;
  background-color: #057bc0;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  height: auto;
  font-weight: 600;
  border-radius: 3px;
}

.hero .hero-copy-box .more-connect {
  width: 100%;
  height: auto;
  margin-top: 40px;
  text-align: center;
}

.hero .hero-copy-box .more-connect .connect-text {
  text-transform: uppercase;
  font-size: 12.5px;
  display: block;
  text-align: center;
  margin: 0.6rem 0;
}

.hero .hero-copy-box .more-connect .connect-link-container {
  padding: 0.3rem 1rem;
}

.hero .hero-copy-box .more-connect .connect-link-container .link-imgs {
  max-width: 400px;
  margin: -5px auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-copy-box .more-connect .connect-link-container .link-imgs .links {
  margin: 10px;
}

.hero .hero-copy-box .more-connect .connect-link-container .link-imgs .links a {
  text-decoration: none;
  max-height: 28px;
  max-width: 100px;
  max-width: 63px;
  display: block;
}

.hero .hero-copy-box .more-connect .connect-link-container .link-imgs .links a img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.hero .hero-copy-box .more-connect .connect-link-container .link-imgs .links a:last-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hero .hero-copy-box .more-connect .connect-link-container .link-imgs .links a:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.hero .hero-image-container {
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-image-container img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 250px;
  height: 250px;
}

.about-container {
  width: 100%;
  height: auto;
  margin: 1rem 0;
}

.about-container .about-text {
  margin: 0.7rem;
  letter-spacing: 0.005px;
  font-weight: 500;
}

.techstack-container {
  width: 100%;
  height: auto;
  margin: 0.7rem 0;
}

.techstack-container .techstack-list-flex {
  width: 100%;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(225, 225, 225, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 1rem;
}

.techstack-container .techstack-list-flex .techstack-lists {
  width: 60px;
  height: 60px;
  margin: 0.4rem;
  border-radius: 5px;
  background: #fff;
}

.techstack-container .techstack-list-flex .techstack-lists img {
  width: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 60px;
  border-radius: 5px;
}

.testimonials {
  width: 100%;
  height: auto;
}

.testimonials .testimonial-card-container {
  width: 100%;
  height: auto;
  padding: 1rem 0.4rem;
}

.testimonials .testimonial-card-container .testimonial-card {
  margin: 2rem 0;
  padding: 0.6rem;
}

.testimonials .testimonial-card-container .testimonial-card .testimonial-text {
  position: relative;
  width: 100%;
  margin: 0.4rem 0;
}

.testimonials .testimonial-card-container .testimonial-card .testimonial-text::before, .testimonials .testimonial-card-container .testimonial-card .testimonial-text::after {
  content: "\201C";
  font-size: 3rem;
  color: #6b6969;
  position: absolute;
  font-style: normal;
  font-family: Arial, sans-serif;
}

.testimonials .testimonial-card-container .testimonial-card .testimonial-text::before {
  left: -0.99rem;
  top: -1.3rem;
}

.testimonials .testimonial-card-container .testimonial-card .testimonial-text::after {
  content: "\201E";
  right: 0.8rem;
  bottom: -1rem;
}

.testimonials .testimonial-card-container .testimonial-card .testimonial-user {
  width: 100%;
  margin: 0.6rem 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem 0.2rem;
  vertical-align: middle;
}

.testimonials .testimonial-card-container .testimonial-card .testimonial-user img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 0.5rem 0 0;
}

.testimonials .testimonial-card-container .testimonial-card .testimonial-user .user-details {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials .testimonial-card-container .testimonial-card .testimonial-user .user-details .fullname {
  font-size: 14px;
  color: #111;
}

.testimonials .testimonial-card-container .testimonial-card .testimonial-user .user-details .job-description {
  font-size: 14px;
}

.contact-cta-box {
  width: 80%;
  height: auto;
  margin: 2rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-cta-box .hire-cta-container {
  width: 90%;
  margin: 0 auto;
}

.contact-cta-box .hire-cta-container .hire-cta-text {
  font-weight: 500;
}

.contact-cta-box .hire-cta-container .hire_cta_control {
  width: 180px;
  margin: 0.5rem 0 0.3rem 0;
}

.contact-cta-box .hire-cta-container .hire_cta_control .hire-cta {
  text-decoration: none;
  display: block;
  text-align: center;
  width: 100%;
  padding: 0.5rem 12px;
  border: 1px solid #308bbf;
  background-color: #057bc0;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  height: auto;
  font-weight: 600;
  border-radius: 3px;
}

.contact-cta-box .divider {
  width: 0.5px;
  height: 150px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  display: none;
}

.contact-cta-box .contact-cta-container {
  width: 90%;
  margin: 1rem auto;
}

.contact-cta-box .contact-cta-container .contact-cta-text {
  font-weight: 500;
}

.contact-cta-box .contact-cta-container .contact_cta_control {
  width: 180px;
  margin: 0.5rem 0 0.3rem 0;
}

.contact-cta-box .contact-cta-container .contact_cta_control .contact-me {
  text-decoration: none;
  display: block;
  text-align: center;
  width: 100%;
  padding: 0.5rem 12px;
  border: 1px solid #308bbf;
  background-color: #057bc0;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  height: auto;
  font-weight: 600;
  border-radius: 3px;
}

.projects-portfolio {
  width: 100%;
  height: auto;
  margin: 2rem 0;
}

.projects-portfolio .project-overview {
  margin: 1rem 0;
}

.projects-portfolio .project-overview .project-status {
  font-size: 13px;
  margin: 0.3rem 0.5rem;
}

.projects-portfolio .project-overview .project-lists {
  width: 100%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects-portfolio .project-overview .project-lists .project-card {
  width: 100%;
  height: auto;
  margin: 2.5rem 0;
  border: 0.4px solid rgba(216, 214, 214, 0.5);
  border-radius: 0.2rem;
  padding: 0.7rem;
}

.projects-portfolio .project-overview .project-lists .project-card picture {
  width: 100%;
  height: 180px;
}

.projects-portfolio .project-overview .project-lists .project-card picture .project-screenshot {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0.5rem 0;
}

.projects-portfolio .project-overview .project-lists .project-card .project-title {
  font-weight: 500;
  color: #111;
  font-size: 15px;
  margin: 0.3rem;
}

.projects-portfolio .project-overview .project-lists .project-card .project-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0.2rem 0;
}

.projects-portfolio .project-overview .project-lists .project-card .project-links a {
  vertical-align: middle;
}

.projects-portfolio .project-overview .project-lists .project-card .project-links a svg {
  margin: 0 1.5rem 0 1rem;
  width: 20px;
  height: 20px;
}

.projects-portfolio .project-overview .project-lists .project-card .note-na {
  font-size: 15px;
  margin: 0.6rem 1rem;
  color: #111;
}

.contact-form-overlay-container {
  width: 100%;
  height: 100%;
  background: #fff;
  display: none;
  color: #6b6969;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1.5rem;
  -webkit-transition: display 0.2s linear 0;
  transition: display 0.2s linear 0;
  z-index: 2;
}

.contact-form-overlay-container .form-error-UI {
  width: 100%;
}

.contact-form-overlay-container .close-btn-wrapper {
  width: 100%;
  height: auto;
  padding: 0.4rem 0.2rem;
  margin: 0.3rem 0;
  position: relative;
}

.contact-form-overlay-container .close-btn-wrapper #closeBtn {
  float: right;
  height: 23px;
  width: 23px;
  fill: #6b6969;
  cursor: pointer;
  top: 0;
}

.contact-form-overlay-container .contact-form-container {
  margin: 1rem 0;
  width: 100%;
}

.contact-form-overlay-container .contact-form-container .form-requirement-text,
.contact-form-overlay-container .contact-form-container .isrequired {
  font-size: 0.95rem;
}

.contact-form-overlay-container .contact-form-container .contact-form {
  width: 100%;
}

.contact-form-overlay-container .contact-form-container .contact-form .input-clip {
  width: 100%;
  margin: 0.8rem 0;
}

.contact-form-overlay-container .contact-form-container .contact-form .input-clip label {
  width: 100%;
  font-size: 0.95rem;
  font-family: "Atyp text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contact-form-overlay-container .contact-form-container .contact-form .input-clip input,
.contact-form-overlay-container .contact-form-container .contact-form .input-clip textarea {
  border-radius: 3px;
  border: 0.5px solid #111;
  margin: 0.3rem 0;
  width: 100%;
  padding: 0.5rem 0.3rem;
  font-size: 0.95rem;
  font-family: "Atyp text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contact-form-overlay-container .contact-form-container .contact-form .btn-clip {
  width: 100%;
  margin: 0.5rem 0;
  background-color: #057bc0;
  padding: 0.6rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
}

.contact-form-overlay-container .contact-form-container .contact-form .btn-clip .contact-submit {
  width: 100%;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: "Atyp text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border: none;
}

footer {
  width: 100%;
  height: auto;
}

footer .footer-items {
  width: 100%;
  text-align: center;
}

footer .footer-items .coder-info {
  font-size: 1rem;
  margin: 0.5rem 0 1rem 0;
}

footer .footer-items .legal-copy {
  font-size: 1rem;
  margin: 0 0 1rem 0;
}

.hmfc {
  width: 100%;
  padding: 1rem 0.5rem;
  height: auto;
}

.hmfc .hire-form .user-greeting {
  font-size: 1rem;
}

.hmfc .hire-form .fareware-greeting {
  font-size: 1rem;
}

.hmfc .hire-form .input-sentence {
  width: 100%;
  margin: 0.4rem 0;
  font-size: 1rem;
}

.hmfc .hire-form .input-sentence input {
  border: none;
  width: 100%;
  border-bottom: 1px solid #6b6969;
  padding: 0.4rem;
  font-size: 1rem;
  color: #6b6969;
  outline: none;
  font-family: "Atyp text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hmfc .hire-form .input-sentence select {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #6b6969;
  font-size: 1rem;
  color: #6b6969;
  padding: 0.4rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "Atyp text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hmfc .hire-form .hire-submit-box {
  width: 100%;
  margin: 0.5rem 0;
  background-color: #057bc0;
  padding: 0.6rem;
  text-align: center;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
}

.hmfc .hire-form .hire-submit-box .hire-submit {
  width: 100%;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  font-family: "Atyp text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.fof_container {
  width: 100%;
  height: 100%;
  margin: 4rem auto;
  padding: 1rem 0.5rem;
}

.fof_container .upper_center {
  display: block;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #6b6969;
}

.fof_container .fof_big_text {
  display: block;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
}

.fof_container .error_info_text {
  margin: 1.5rem 0;
  display: block;
  text-align: center;
}

.fof_container .redirect_cta_text {
  margin: 0.5rem 0;
  text-align: center;
}

.success-msg-container {
  display: none;
  text-align: center;
  margin: 1rem 0.5rem;
  padding: 1rem 0.5rem;
}

.success-msg-container .success-icon svg {
  width: 35px;
  height: 50px;
  font-size: 5rem;
}

.success-msg-container .success-text {
  text-align: center;
  font-size: 1rem;
}

@media screen and (min-width: 1020px) {
  .hero {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero .hero-copy-box {
    width: 56%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding: 0.5rem;
  }
  .hero .hero-copy-box .hero-title-container .hero-title {
    text-align: left;
    font-size: 50px;
  }
  .hero .hero-copy-box .hero-sub-titles {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0.5rem 0;
  }
  .hero .hero-copy-box .hero-sub-titles .hero-sub-title-1 {
    text-align: left;
  }
  .hero .hero-copy-box .hero-sub-titles .hero-sub-title-2 {
    text-align: left;
  }
  .hero .hero-copy-box .hero-cta {
    margin: 20px 0;
  }
  .hero .hero-copy-box .more-connect .connect-text {
    text-align: left;
  }
  .hero .hero-copy-box .more-connect .connect-link-container {
    padding: 0.3rem 0;
  }
  .hero .hero-copy-box .more-connect .connect-link-container .link-imgs {
    max-width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero .hero-copy-box .more-connect .connect-link-container .link-imgs .links {
    margin: 10px 10px 10px 0;
  }
  .hero-image-container {
    max-width: 44%;
    height: 100%;
    margin: auto auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-image-container picture {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .hero-image-container picture img {
    width: 100%;
    height: 100%;
  }
  .projects-portfolio {
    margin: 3rem 0;
  }
  .projects-portfolio .project-overview .project-lists {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
  }
  .projects-portfolio .project-overview .project-lists .project-card {
    width: 30%;
    margin: 1rem 0.5rem;
    height: 350px;
  }
  .projects-portfolio .project-overview .project-lists .project-card picture {
    height: 280px;
  }
  .projects-portfolio .project-overview .project-lists .project-card picture .project-screenshot {
    margin: 0.4rem 0;
    height: 200px;
  }
  .projects-portfolio .project-overview .project-lists .project-card .project-links {
    margin: 0.5rem 0 0 0;
  }
  .testimonials .testimonial-card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .testimonials .testimonial-card-container .testimonial-card {
    width: 30%;
  }
  .contact-cta-box {
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 4rem auto;
  }
  .contact-cta-box .divider {
    display: block;
    margin: 0 2rem;
  }
  .h-line {
    max-width: 100%;
  }
  footer .footer-items .coder-info, footer .footer-items .legal-copy {
    font-size: 15px;
  }
}
/*# sourceMappingURL=main.css.map */