@import './vars';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    color: $primary-color;
    font-size: 1.0625rem;
    line-height: 1.5;
    letter-spacing: -0.01rem;
}

// resuable styles
.content-container {
    width: 100%;
    display: block;
    height: auto;
}
.global-container {
    width: 100%;
    padding: 0 10%;
}
.d-flex {
    display: flex;
}