* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf');
}

// variables
 $hero-font: Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 $para-font: Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 $background-color-white : #fff;
 $backround-color-gray: #ebeced;
 $border-color: 1px solid gainsboro;
 

body {
    width: 100%;
    height: 100vh;
    scroll-behavior: auto;
}

a {
    color: #0070c9 !important; 
}
// p {
//     color: #37352f !important;
// }

// mobile first layout design

.notification-banner {
        width: 100%;
        // z-index: 100;
        height:4.3rem;
        background-color: #0070c9;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        justify-content: center;
        position: fixed;
        top:0;
        .notification-banner-text {
            text-align: center;
            color: #fff;
            font-family: $para-font;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.025rem;
        }
    }
header {
    width: 100%;
    margin-top: 70px;
    // height: 45px;
    // background-color: $background-color-white;
    // padding: 0 14px;
    // position: sticky;
    // top: 0;
    // border: 1px solid green;
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
    // z-index: 999;
    nav {
        .logo_text {
            font-family: $para-font;
            font-size: 0.9rem;
            line-height: 1.4;
            font-weight: 500;
            text-decoration: none;
            display: block;
            width: auto;
            padding: 1px 4.6px;
            color: #37352f;
        }
        .logo_text:hover {
            cursor: pointer;
            // background-color:$backround-color-gray;
            border-radius: 4px;
        }
    }
}


// hero container 
.hero_container {
    width: 100%;
    height: auto;
    // margin: 0 auto;
    .hero_text_container {
        .hero_text {
            font-family: $hero-font;
            line-height: 1.2;
            letter-spacing: 0.025rem;
            color:  #37352f;
            font-size: 2rem;
            padding: 20px;
        }
    }
}

// main container style

.container {
    line-height: 1.2;
    letter-spacing: 0.025rem;
    width: 100%;
    height: auto;
    // margin: 40px auto 20px auto;
    .intro_container {
        margin: 15px 0;
        padding: 20px;
        .intro_text {
            font-size: 1rem;
            font-weight: 500;
            font-family: $para-font;
            color: #37352f;
            line-height: 1.4;
        }
    }
    .skill_set{
        margin: 0 20px;
        .skill_set_heading {
            font-family: $hero-font;
            color:  #37352f;
            line-height: 1.4;
            font-size: 24px;
        }
    }
    .dev_skills_container {
        border-bottom: $border-color;
        border-right: $border-color;
        border-left: $border-color;
        padding: 20px;
        margin: 20px 10px;
        .h-rule {
            color: $border-color;
            line-height: 1.4;
                }
        .skills_container {
            .skill_text_container {
                .skill_text {
                    font-family: $para-font;
                    font-size: 1rem;
                    margin: 15px 0;
                }
            }
            .skill_images_container{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap:wrap;
                margin: 15px 0;
                .skill_image {
                    margin: 10px 15px 0 0;
                    img {
                        width: 40px;
                        height: 40px;
                    }
                    .skill_name {
                        .skill_name_text {
                            font-family: $para-font;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

// currently
.currently_doing_container {
    margin: 0 20px;
    .cd_heading_container {
        .cd_text {
            font-family: $hero-font;
            color: #37352f;
            line-height: 1.4;
            font-size: 24px;
        }
    }
    .cd_list_container {
        margin: 0 0 0 30px;
        list-style-type: disc;
        .cd_list {
            // display: block;
            margin: 7px 0;
            font-family: $para-font;
            font-size: 0.9rem;
            color: #37352f;
        }
        .fiverr_username {
            a {
            text-decoration: underline;
            color: black;
            }
        }
        .youtube-channel {
            a {
                color: black;
                text-decoration: underline;
            }
        }
    }
}


// conatct_box 
.contact_box {
    margin: 0 20px;
    .contact_heading {
        margin: 10px 0;
        .contact_text {
            font-family: $hero-font;
            color:  #37352f;
            line-height: 1.4;
            font-size: 24px;
        }
    }
    .contact_how {
        margin: 0 0 1rem 10px;
        .contact_ways {
            margin: 6px 0;
            .contact_icon {
                margin-right: 8px;
                img {
                    width: 16px;
                    height: 16px;
                }
            }
            .contact_icon_desc {
                font-family: $para-font;
                font-size: 0.9rem;
                line-height: 1.4; 
                color: #37352f;
                .mail {
                    color: #37352f;
                }
            }
            .twitter_username {
                color: white;
                text-decoration: underline;
                color: #555;
            }
        }
    }
}
.thanks_box {
    margin: 20px;
    .thanks_box_text {
        font-family: $para-font;
        font-size: 0.8rem;
        line-height: 1.4;
    }
}
// footer style
footer {
    // margin: 10px 20px;
    width: 100%;
    height: auto;
    .social_connect {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .social_list_container {
            list-style-type: none;
            .social_list {
                margin: 1rem 0;
                .social_links {
                    padding: 6px;
                    border-radius: 10px;
                    text-decoration: none;
                    margin: 1rem 0 0.5rem 20px;
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
    .farewell {
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .farewell_text {
            font-family: $para-font;
            font-size: 0.8rem;
            line-height: 1.4;
        }
    }
}

// 404 page
.f04_container {
    width: 100%;
    position: fixed;
    font-family: $hero-font;
    text-align: center;
    margin: 10px auto;
    .f04_hero {
        width: 100%;
        margin: 0 0 3rem 0;
        .f04_hero_text {
            color: #37352f;
        }
    }
    .redirect {
        .ta_redirect {
            font-size: 1rem;
            
        }
    }
}

// desktop and tablet layout
@media screen and (min-width: 720px) {
        .notification-banner {
            height: 3rem;
        }
    .hero_container {
        width: 60%;
        margin: 0 auto;
        .hero_text_container {
            .hero_text {
                font-size: 2.5rem;
            }
        }
    }
.container {
    width: 60%;
    margin: 0 auto;
    }
    .dev_skills_container {
        display: flex;
        margin: 20px 0;
        justify-content: space-evenly;
        .h-rule {
            display: none;
        }
        .skills_container {
            .skill_images_container {
                flex-wrap: wrap;
            }
        }
    }
}
.darkmode {
    background-color: #37352f;
    color: #fff;
}