* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf");
}
body {
  width: 100%;
  height: 100vh;
  scroll-behavior: auto;
}

a {
  color: #0070c9 !important;
}

.notification-banner {
  width: 100%;
  height: 4.3rem;
  background-color: #0070c9;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
  position: fixed;
  top: 0;
}
.notification-banner .notification-banner-text {
  text-align: center;
  color: #fff;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

header {
  width: 100%;
  margin-top: 70px;
}
header nav .logo_text {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: 500;
  text-decoration: none;
  display: block;
  width: auto;
  padding: 1px 4.6px;
  color: #37352f;
}
header nav .logo_text:hover {
  cursor: pointer;
  border-radius: 4px;
}

.hero_container {
  width: 100%;
  height: auto;
}
.hero_container .hero_text_container .hero_text {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.2;
  color: #37352f;
  font-size: 2rem;
  padding: 20px;
}

.container {
  line-height: 1.2;
  width: 100%;
  height: auto;
}
.container .intro_container {
  margin: 15px 0;
  padding: 20px;
}
.container .intro_container .intro_text {
  font-size: 1rem;
  font-weight: 500;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #37352f;
  line-height: 1.4;
}
.container .skill_set {
  margin: 0 20px;
}
.container .skill_set .skill_set_heading {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #37352f;
  line-height: 1.4;
  font-size: 24px;
}
.container .dev_skills_container {
  border-bottom: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  padding: 20px;
  margin: 20px 10px;
}
.container .dev_skills_container .h-rule {
  color: 1px solid gainsboro;
  line-height: 1.4;
}
.container .dev_skills_container .skills_container .skill_text_container .skill_text {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  margin: 15px 0;
  color: #37352f;
}
.container .dev_skills_container .skills_container .skill_images_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 0;
}
.container .dev_skills_container .skills_container .skill_images_container .skill_image {
  margin: 10px 15px 0 0;
}
.container .dev_skills_container .skills_container .skill_images_container .skill_image img {
  width: 40px;
  height: 40px;
}
.container .dev_skills_container .skills_container .skill_images_container .skill_image .skill_name .skill_name_text {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #37352f;
  font-size: 0.8rem;
}

.currently_doing_container {
  margin: 0 20px;
}
.currently_doing_container .cd_heading_container .cd_text {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #37352f;
  line-height: 1.4;
  font-size: 24px;
}
.currently_doing_container .cd_list_container {
  margin: 0 0 0 30px;
  list-style-type: disc;
}
.currently_doing_container .cd_list_container .cd_list {
  margin: 7px 0;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  color: #37352f;
}
.currently_doing_container .cd_list_container .fiverr_username a {
  text-decoration: underline;
  color: black;
}
.currently_doing_container .cd_list_container .youtube-channel a {
  color: black;
  text-decoration: underline;
}

.contact_box {
  margin: 0 20px;
}
.contact_box .contact_heading {
  margin: 10px 0;
}
.contact_box .contact_heading .contact_text {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #37352f;
  line-height: 1.4;
  font-size: 24px;
}
.contact_box .contact_how {
  margin: 0 0 1rem 10px;
}
.contact_box .contact_how .contact_ways {
  margin: 6px 0;
}
.contact_box .contact_how .contact_ways .contact_icon {
  margin-right: 8px;
}
.contact_box .contact_how .contact_ways .contact_icon img {
  width: 16px;
  height: 16px;
}
.contact_box .contact_how .contact_ways .contact_icon_desc {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  line-height: 1.4;
  color: #37352f;
}
.contact_box .contact_how .contact_ways .contact_icon_desc .mail {
  color: #37352f;
}
.contact_box .contact_how .contact_ways .twitter_username {
  color: white;
  text-decoration: underline;
  color: #555;
}

.thanks_box {
  margin: 20px;
}
.thanks_box .thanks_box_text {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  line-height: 1.4;
}

footer {
  width: 100%;
  height: auto;
}
footer .social_connect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer .social_connect .social_list_container {
  list-style-type: none;
}
footer .social_connect .social_list_container .social_list {
  margin: 1rem 0;
}
footer .social_connect .social_list_container .social_list .social_links {
  padding: 6px;
  border-radius: 10px;
  text-decoration: none;
  margin: 1rem 0 0.5rem 20px;
}
footer .social_connect .social_list_container .social_list .social_links img {
  width: 25px;
  height: 25px;
}
footer .farewell {
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .farewell .farewell_text {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  line-height: 1.4;
}

.f04_container {
  width: 100%;
  position: fixed;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin: 10px auto;
}
.f04_container .f04_hero {
  width: 100%;
  margin: 0 0 3rem 0;
}
.f04_container .f04_hero .f04_hero_text {
  color: #37352f;
}
.f04_container .redirect .ta_redirect {
  font-size: 1rem;
}

@media screen and (min-width: 720px) {
  .notification-banner {
    height: 3rem;
  }
  .hero_container {
    width: 60%;
    margin: 0 auto;
  }
  .hero_container .hero_text_container .hero_text {
    font-size: 2.5rem;
  }
  .container {
    width: 60%;
    margin: 0 auto;
  }
  .dev_skills_container {
    display: flex;
    margin: 20px 0;
    justify-content: space-evenly;
  }
  .dev_skills_container .h-rule {
    display: none;
  }
  .dev_skills_container .skills_container .skill_images_container {
    flex-wrap: wrap;
  }
}
.darkmode {
  background-color: #37352f;
  color: #fff;
}/*# sourceMappingURL=main.css.map */